<div class='page-content'>
    <div class= 'col-12'>
        <%= form_tag("/helper_bot", :method => "get", remote: true) do %>
            <div class="input-group input-group-lg">
                <%= text_field_tag :question, params[:question], class: "form-control", placeholder: "Type your query" %>
                <span class="input-group-btn">
                    <%= submit_tag "Submit", class: "btn btn-info" %>
                </span>
            </div>
        <% end %>
    </div>

    <div class='col-12' id='result-container'>
        <div class='row'>
        </div>
    </div>
</div>