<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Your Website</title>

  </head>
<body>

  <div class="container mt-5">
    <h1>Welcome to Your Website</h1>
    <p class="lead">Explore the world of IT with us!</p>

    <div class="row mt-4">
      <div class="col-md-6">
        <%= link_to 'Search', helper_bot_path, class: "btn btn-primary btn-lg"%>
      </div>
      <div class="col-md-6">
        <%= link_to 'Wigdet', widget_index_path, class: "btn btn-success btn-lg"%>
      </div>
    </div>
  </div>
</body>
</html>
